[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bin/liquidprompt"]
	path = bin/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule ".vim"]
	path = .vim
	url = git://github.com/dotphiles/dotvim.git
